---
import Layout from "../../../layouts/Layout.astro"
import Code from "../../../components/Code.astro"

import fs from "node:fs/promises"

const url = new URL(process.cwd() + "/src/assets/cin-cout.cpp", import.meta.url);
const code = await fs.readFile(url, "utf-8");
---

<Layout title="Adendo: cin e cout">
    <h1 class="text-2xl">Adendo: cin e cout</h1>
    <br>
    <p>Nos tutorias utilizamos as funções printf e scanf para mostrar valores e texto no console, porém também podemos utilizar os objetos "cin" e "cout"</p>
    <br>
    <p>Veja um exemplo:</p>
    <br>
    <Code code={code} lang="C++" title="cin-cout.cpp" />
</Layout>
