---
import Layout from "../../../layouts/Layout.astro"
---

<Layout title="Exercícios">
    <h1 class="text-2xl">Exercícios</h1>
    <br>
    <p>Segue alguns exercícios de fixação sobre o conteúdo desenvolvido.</p>
    <strong>É recomendado resolver pelo menos todos os fáceis e médios antes de prosseguir para o próximo módulo.</strong>
    <p>Se você está usando a planilha, todos os exercícios estão nela: <a class="text-blue-600" href="https://docs.google.com/spreadsheets/d/1QvxVngrPeBXGgfG0FHwsuEb3s8rHeKUN9nx8nq08Wcw/edit#gid=161440828">Link para planilha</a></p>
    <br>
    <h2 class="text-xl font-bold">Fáceis</h2>
    <ul class="ps-5 list-disc">
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/84">Soma</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/260">Gangorra</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/85">Divisão</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/87">Flíper</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/148">Par ou Ímpar</a></li>
    </ul>
    <br>
    <h2 class="text-xl font-bold">Médios</h2>
    <ul class="ps-5 list-disc">
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/146">Quadrante</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/463">Idade</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/50">Móbile</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/822">Acelerador</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/35">Zip</a></li>
    </ul>
    <br>
    <h2 class="text-xl font-bold">Difíceis</h2>
    <ul class="ps-5 list-disc">
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/206">Campeonato</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/891">Caixas</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/510">Janela</a></li>
        <li><a class="text-blue-600" href="https://neps.academy/br/exercise/9">Jardim</a></li>
    </ul>
    <br>
</Layout>
