---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Lessoner :3 ^_^ >,<">
	<h1 class="text-2xl font-bold">Página Inicial</h1>
	<br>
	<p>Este é um tutorial desenvolvido com o intuito de aprofundar seus conhecimentos na área da computação com ênfase em lógica de programação.</p>
	<p>Daremos ênfase em desenvolvimento com C++, posteriormente HTML, CSS, JavaScript e suas tecnologias, e possivlmente mais linguagens no futuro.</p>
</Layout>
