---
import Layout from "../../../../layouts/Layout.astro"
import Code from "../../../../components/Code.astro"

import fs from "node:fs/promises"

const url = new URL(process.cwd() + "/src/assets/hello-world.cpp", import.meta.url)
const code = await fs.readFile(url, "utf-8");
---

<Layout title="Output no Console">
    <h1 class="text-2xl">Introdução ao C++</h1>
    <br>
    <p>Nestes tutoriais, utilizaremos o C++ para desenvolver sua lógica de programação, uma vez que é uma linguagem com uma sintaxe relativamente simples e que introduz o usuário a diversos conceitos importantes da computação.</p>
    <br>
    <p>C++ é uma poderosa linguagem de programação de propósito geral que combina características de linguagens de programação de baixo nível, como C, com recursos de alto nível, como orientação a objetos. Criada por Bjarne Stroustrup, C++ é amplamente utilizado no desenvolvimento de software, desde sistemas embarcados até aplicativos de desktop e jogos.</p>
    <br>
    <p>A linguagem C++ oferece uma variedade de recursos, incluindo suporte à programação procedural, orientação a objetos e programação genérica. Sua sintaxe flexível e eficiência no gerenciamento de recursos fazem dela uma escolha popular entre os programadores para uma ampla gama de aplicações.</p>
    <br>
    <p>Aqui está um exemplo de um código em C++, que printa "Hello World!" no console:</p>
    <Code code={code} lang="C++" title="hello-world.cpp" />
    <br>
    <h2 class="text-xl">Explicação</h2>
    <br>
    <p>No código acima, a diretiva '#include' informa o compilador que estamos "incluindo" um arquivo ou biblioteca, neste caso o '&lt;iostream&gt;' (input and output stream), que nos permite utilizar a função 'printf' para mostrar algo no console.</p>
    <p>No fim da main, chamamos 'return 0' para informar o sistema operacional ou programa que rodou o nosso programa que o mesmo foi concluido corretamente, é mais uma questão de convenção, não tente achar muito sentido.</p>
    <br><hr><br>
    <p>É importante que você experimente, tente printar algumas coisas no console e veja o que acontece ;3</p>
</Layout>
