---
import Layout from "../../../layouts/Layout.astro"
---

<Layout title="Exercícios">
  <h1 class="text-2xl">Exercícios</h1>
  <br>
  <p>Segue alguns exercícios de fixação sobre o conteúdo desenvolvido.</p>
  <strong>É recomendado resolver pelo menos todos os fáceis e médios antes de prosseguir para o próximo módulo.</strong>
  <p>Se você está usando a planilha, todos os exercícios estão nela: <a class="text-blue-600" href="https://docs.google.com/spreadsheets/d/1QvxVngrPeBXGgfG0FHwsuEb3s8rHeKUN9nx8nq08Wcw/edit#gid=215386794">Link para planilha</a></p>
  <br>
  <p>Note a quantidade reduzida de exercícios para este módulo, isso será compensado no módulo de arrays e matrizes, por conta dos conceitos andarem juntos.</p>
  <br>
  <h2 class="text-xl font-bold">Fáceis</h2>
  <ul class="ps-5 list-disc">
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/159">Soma dos Elementos</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/157">Repetir X Vezes</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/324">Garçom</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/48">Prêmio do Milhão</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/158">Fatorial</a></li>
  </ul>
  <br>
  <h2 class="text-xl font-bold">Médios</h2>
  <ul class="ps-5 list-disc">
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/52">Lâmpadas</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/110">Consecutivos</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/216">Todos os Divisores</a></li>
    <li><a class="text-blue-600" href="https://neps.academy/br/exercise/2069">Show</a></li>
  </ul>
</Layout>
